
body {
	font-size: 17px;
}
.clearfix:after {
	content:"";
	display: block;
	clear: both;
}
img {
	border-radius: 15px;
	width: 180px;
	height: 128px;

}
/**--FLOATING IMAGES--**/
menu {
	margin-bottom: 40px;
}

.lexus {
	float: right;
	margin: 0 0 10px 10px;
}
.mers {
	float: left;
	margin: 10px 10px 0 0;
}
menu li {
	float: left;
	list-style: none;
	width: 24%;
	text-align: center;
	padding: 10px 0 10px;

}
menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	display: block;
	background-color: #507299;
	line-height: 40px;
	border-right: 1px solid #384E5B;
	transition: 1s all;
}
menu li a:hover {
	background-color: #000;
	font-size: 20px;
}
.current {
	background-color: rgba(80, 14, 153, 0.5);
}
main {
	padding: 30px 20px;
	width: 75%;
	margin: 0 auto;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #E9E9E9;
}

/**--FLOATING BLOCKS--**/
article {
	float: left;
	width: 25%;
	margin: 0 40px 0 40px;
	text-align: center;
}

article p {
	text-align: justify;
}
