/**CONFIGURES**/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic);

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	width: 100%;
}

body {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
	color: #6B6B6B;
	background-color: #F2F2F2;
}
/**HEADER**/
.header {
	width: 100%;
	background-color: #363636;
	position: fixed;
}
.logo {
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
}
.logo a {
	display: block;
	padding: 26px 0 26px;
	text-decoration: none;
	color: #DADADA;
}
.menu {
	float: right;
}
.menu li {
	float: left;
	margin: 0 10px 0;
	list-style: none;
	padding: 31px 0 26px;
}
.menu li a {
	display: block;
	text-transform: uppercase;
	color: #FFF;
	font-size: 12px;
	transition: all 0.3s;
	text-decoration: none;
}
.menu li a:hover {
	color: #DA4453;
}
/**CONTENT**/
.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 100px;
	box-sizing: border-box;
	background-color: #fff;
}
.content {
	box-sizing: border-box;
	max-width: 780px;
	margin: 0 15px 0 15px;
	border: 1px solid #DADADA;
	float: left;
	width: 100%;
}
.image {
	width: 100%;
	height: 200px;
	margin-bottom: 20px;
	background-color: #fff;
}
.road-img {
	display: block;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-image: url(../img/road.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: opacity 1s;
}
.road-img:hover {
	opacity: 0.5;
}
.content-description {
	background-color: #fff;
	padding: 45px 50px;
	color: #6B6B6B;
}
.content-title {
	font-size: 28px;
	margin-bottom: 30px;
	font-weight: bold;

}
.content-title a {
	color: #444444;
	text-decoration: none;
	transition: color 1.2s;
}
.content-title a:hover {
	color: #DA4453;
}
.meta-info {
	font-size: 13px;
	padding-bottom: 30px;
}
.meta-menu li {
	display: inline-block;
	margin-right: 10px;
}
.tag-description {
	line-height: 1.5;
	font-size: 12px;
	margin-bottom: 20px;
	text-align: justify;
}
.button-block {
	text-align: right;
	margin-top: 38px;
}
.btn-read {
	/*display: block;*/
	background-color: #DA4453;
	text-transform: uppercase;
	text-decoration: none;
	padding: 11px 13px;
	font-size: 13px;
	border-radius: 5px;
	color: #fff;
	border: 2px solid transparent;
	transition: color 1.3s;
}
.btn-read:hover {
	border: 2px solid #000;
	color: #000;
}

/**SIDEBAR**/
.sidebar {
	box-sizing: border-box;
	max-width: 340px;
	width: 100%;
	/*height: 100%*/
	border: 1px solid red;
	float: right;

	padding: 20px;
	text-align: justify;
	line-height: 1.5;
}
